body {
  height: var(--layout-body-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--layout-body-border) var(--color-dark) solid;
  background-color: var(--color-main);
}
