body {
  /* todo: change to video, remove this color */
  height: calc(100vh - calc(2 * var(--layout-body-border)));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--layout-body-border) #000 solid;
  background-color: honeydew;
}
