body {
  /* todo: change to video, remove this color */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 15px #000 solid;
  background-color: honeydew;
}
