@import 'css-wipe';
@import './variables.css';

@import '../description/title.css';

body {
  display: flex;
  justify-content: space-between;
  /* todo: change to video, remove this color */
  background-color: honeydew;
}
