:root {
  --color-main: honeydew;
  --color-dark: #000;

  --font-head: 'museo-sans', sans-serif;
  --font-body: 'museo-sans', sans-serif;

  --font-size-huge: 6rem;
  --font-size-headline: 4rem;
  --font-size-title: 3rem;
  --font-size-subtitle: 1.5rem;
  --font-size-body: 1rem;

  --z-index-top: 1;

  --layout-body-padding: 3rem;
  --layout-body-border: 1rem;
  --layout-body-height: calc(100vh - calc(2 * var(--layout-body-border)));
  --layout-body-width: calc(100vw - calc(2 * var(--layout-body-border)));

  --transform-skew-header: rotate(-10deg) skew(-10deg, 0);

  --animation-menu-in: slide-right-left .5s ease-in-out forwards;
}

@keyframes slide-right-left {
  0% {
    margin-right: -100%;
  }
  100% {
    margin-right: 0;
  }
}
