html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  /* todo: change to video, remove this color */
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: honeydew;
}
/* header */

.header {
  width: 100vw;
}

.header-inner  {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
}

.header-name {
  padding: 48px;
  padding: 3rem;
  display: inline-block;
  overflow: hidden;
  width: 96px;
  width: 6rem;
}

.header-name-inner {
  display: inline-block;
  white-space: nowrap;
  font-size: 96px;
  font-size: 6rem;
  text-transform: uppercase;
}

.header-name-inner:after {
  content: '';
  float: left;
  margin-top: 100%;
}

.header-firstname-inner {
  line-height: .84em;
  -webkit-transform: translate(0,100%) rotate(-90deg);
      -ms-transform: translate(0,100%) rotate(-90deg);
          transform: translate(0,100%) rotate(-90deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

.header-lastname-inner {
  line-height: 0.572em;
  -webkit-transform: translate(-75%,0) rotate(90deg);
      -ms-transform: translate(-75%,0) rotate(90deg);
          transform: translate(-75%,0) rotate(90deg);
  -webkit-transform-origin: 1 1;
      -ms-transform-origin: 1 1;
          transform-origin: 1 1;
}
.footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.footer-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* slogan */

.footer-slogan {
  padding: 48px;
  padding: 3rem;
  max-width: 600px;
  font-size: 64px;
  font-size: 4rem;
}

/* nav */

@-webkit-keyframes slide-right-left {
  0% {
    margin-right: -100%;
  }
  100% {
    margin-right: 0;
  }
}

@keyframes slide-right-left {
  0% {
    margin-right: -100%;
  }
  100% {
    margin-right: 0;
  }
}

.footer-nav {
  padding: 48px;
  padding: 3rem;
  text-align: right;
  font-size: 64px;
  font-size: 4rem;
  font-family: 'museo-sans', 'sans-serif';
}

.footer-nav-inner > li {
  margin-right: calc(-100% - 9rem);
  -webkit-animation: slide-right-left .5s ease-in-out forwards;
          animation: slide-right-left .5s ease-in-out forwards;
}

.footer-nav-inner > li:nth-child(1) { -webkit-animation-delay: 0.1s; animation-delay: 0.1s }
.footer-nav-inner > li:nth-child(2) { -webkit-animation-delay: 0.4s; animation-delay: 0.4s }
.footer-nav-inner > li:nth-child(3) { -webkit-animation-delay: 0.7s; animation-delay: 0.7s }
