.main {
  position: fixed;
  top: var(--layout-body-border);
  height: var(--layout-body-height);
  width: var(--layout-body-width);
}

.main-inner {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%
}
