/* view */

.view-img {
  height: var(--layout-body-height);
  background-color: var(--color-light);
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 55%;
}

@media all and (--wrist), (--palm) {
  .view-img {
    background-image: none;
    background-color: var(--color-main);
  }
}

/* img-inner */

@media all and (--wrist), (--palm) {
  .view-img-inner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
  }
}

/* tagline */

.view-img-tagline {
  position: absolute;
  bottom: var(--layout-body-border);
  padding: var(--layout-body-padding);
  max-width: var(--layout-img-tagline-width);
  z-index: var(--z-index-top);
  font-size: var(--font-size-headline);
}

@media all and (--wrist), (--palm) {
  .view-img-tagline {
    position: initial;
    text-align: center;
    bottom: calc(var(--layout-body-border));
    width: 300px;
  }
}

@media all and (--wrist) {
  .view-img-tagline {
    font-size: var(--font-size-title);
  }
}
