.footer {
  flex: none;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* slogan */

.footer-slogan {
  padding: var(--layout-body-padding);
  max-width: 600px;
  font-size: var(--font-size-headline);
}

/* nav */

@keyframes slide-right-left {
  0% {
    margin-right: -100%;
  }
  100% {
    margin-right: 0;
  }
}

.footer-nav {
  padding: var(--layout-body-padding);
  text-align: right;
  font-size: var(--font-size-headline);
  font-family: var(--font-body);
}

.footer-nav-inner > li {
  margin-right: calc(-100% - calc(3 * var(--layout-body-padding)));
  animation: slide-right-left .5s ease-in-out forwards;
}

.footer-nav-inner > li:nth-child(1) { animation-delay: 0.1s }
.footer-nav-inner > li:nth-child(2) { animation-delay: 0.4s }
.footer-nav-inner > li:nth-child(3) { animation-delay: 0.7s }
