.footer {
  flex: none;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* slogan */

.footer-slogan {
  margin: 3rem;
  width: 600px;
  font-size: var(--font-size-headline);
}

/* nav */

.footer-nav {
  margin: 3rem;
  text-align: right;
  font-size: var(--font-size-headline);
  font-family: 'museo-sans', 'sans-serif';
  font-weight: normal;
}
