.footer {
  position: fixed;
  flex: none;
  right: var(--layout-body-border);
  bottom: var(--layout-body-border);
  z-index: var(--z-index-top);
}

@media all and (--wrist), (--palm) {
  .footer {
    display: none;
  }
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
}

/* nav */

.footer-nav {
  padding: var(--layout-body-padding);
  text-align: right;
  font-size: var(--font-size-headline);
  font-family: var(--font-body);
}

.footer-nav-inner > li {
  margin-right: calc(-100% - calc(3 * var(--layout-body-padding)));
  animation: var(--animation-menu-in);
}

.footer-nav-inner > li > a { color: var(--color-dark); }

.footer-nav-inner > li:nth-child(1) { animation-delay: 0.1s; }
.footer-nav-inner > li:nth-child(2) { animation-delay: 0.4s; }
.footer-nav-inner > li:nth-child(3) { animation-delay: 0.7s; }
