.view-skills {
  width: var(--layout-body-width);
}

.view-skills-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--layout-body-padding);
}

.view-skills-inner > h1 {
  font-size: var(--font-size-headline);
  text-transform: uppercase;
  transform: var(--transform-skew-header);
  text-decoration: underline;
}

.view-skills-inner > ul {
  margin-top: var(--layout-body-padding);
  text-align: center;
}

.view-skills-inner > ul > li:not(:first-child) {
  margin-top: var(--layout-body-padding);
}

.view-skills-heading {
  font-size: var(--font-size-subtitle);
}

.view-skills-content {
  margin-top: var(--layout-main-spacing);
  max-width: var(--layout-main-width);
  font-size: var(--font-size-body);
  text-align: justify;
}
