.view-video {
  height: var(--layout-body-height);
}
/* video-inner */

@media all and (--wrist), (--palm) {
  .view-video-inner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
  }
}

/* tagline */

.view-video-tagline {
  position: absolute;
  bottom: var(--layout-body-border);
  padding: var(--layout-body-padding);
  max-width: 600px;
  font-size: var(--font-size-headline);
}

@media all and (--wrist), (--palm) {
  .view-video-tagline {
    position: initial;
    text-align: center;
    width: 300px;
  }
}

@media all and (--wrist) {
  .view-video-tagline {
    font-size: var(--font-size-title);
  }
}

