.view-contact {
  width: var(--layout-body-width);
}

.view-contact-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--layout-body-padding);
}

.view-contact-inner > h1 {
  font-size: var(--font-size-headline);
  text-transform: uppercase;
  transform: var(--transform-skew-header);
  text-decoration: underline
}

.view-contact-inner > a,
.view-contact-inner > p {
  margin-top: calc(var(--layout-main-spacing) * 2);
  max-width: var(--layout-main-width);
  font-size: var(--font-size-body);
  text-align: justify;
}

.view-contact-heading {
  font-size: var(--font-size-subtitle);
}
