/* wrapper */

.view-section {
  width: var(--layout-body-width);
}

/* inner */

.view-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--layout-body-padding);
}

.view-inner > ul {
  margin-top: var(--layout-body-padding);
  text-align: center;
}

.view-inner > ul > li:not(:first-child) {
  margin-top: var(--layout-body-padding);
}

.view-inner > h1 {
  font-size: var(--font-size-headline);
  text-transform: uppercase;
  transform: var(--transform-skew-header);
  text-decoration: underline
}

.view-inner > a,
.view-inner > p {
  margin-top: calc(var(--layout-main-spacing) * 2);
  max-width: var(--layout-main-width);
  font-size: var(--font-size-body);
  text-align: justify;
}

@media all and (--wrist), (--palm) {
  .view-inner > p {
    text-align: center;
  }
}

/* heading */

.view-subtitle {
  font-size: var(--font-size-subtitle);
}

/* content */

.view-content {
  margin-top: var(--layout-main-spacing);
  max-width: var(--layout-main-width);
  font-size: var(--font-size-body);
  text-align: justify;
}
