.menu {
  position: fixed;
  flex: none;
  right: var(--layout-body-border);
  bottom: var(--layout-body-border);
  z-index: var(--z-index-top);
}

@media all and (--wrist), (--palm) {
  .menu, .menu-nav {
    width: calc(100% - var(--layout-body-border) * 2);
    left: var(--layout-body-border);
    padding-right: 0;
  }
  .menu-nav-inner {
    position: initial;
    text-align: center;
  }
}

.menu-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
}

/* nav */

.menu-nav {
  padding: var(--layout-body-padding);
  text-align: right;
  font-size: var(--font-size-headline);
  font-family: var(--font-body);
}

.menu-nav-inner > li {
  margin-right: calc(-100% - calc(3 * var(--layout-body-padding)));
  animation: var(--animation-menu-in);
}

.menu-nav-inner > li > a {
  position: relative;
  text-decoration: none;
  color: var(--color-dark);
}

.menu-nav-inner > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.menu-nav-inner > li > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.menu-nav-inner > li:nth-child(1) { animation-delay: 0.1s; }
.menu-nav-inner > li:nth-child(2) { animation-delay: 0.4s; }
.menu-nav-inner > li:nth-child(3) { animation-delay: 0.7s; }
