/* header */

.header {
  width: calc(100vw - calc(2 * var(--layout-body-border)));
}

.header-inner  {
  display: flex;
  justify-content: space-between;
}

.header-name {
  padding: var(--layout-body-padding);
  display: inline-block;
  overflow: hidden;
  width: var(--font-size-huge);
}

.header-name-inner {
  display: inline-block;
  white-space: nowrap;
  font-size: var(--font-size-huge);
  text-transform: uppercase;
}

.header-name-inner:after {
  content: '';
  float: left;
  margin-top: 100%;
}

.header-firstname-inner {
  line-height: .84em;
  transform: translate(0,100%) rotate(-90deg);
  transform-origin: 0 0;
}

.header-lastname-inner {
  line-height: 0.572em;
  transform: translate(-75%,0) rotate(90deg);
  transform-origin: 1 1;
}
